#from https://github.com/expressjs/express/blob/master/.eslintrc
{
  "rules": {
    "eol-last": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-trailing-spaces": "error",
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": true }]
  }
}
